@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global styles */
* {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

/*
- App background color: #E5E7EB
- Logo/Cart/Buttons Blue: #3B82F6
- Plus/minus quantity button: #FF7300
- Red cart quantity / Delete button: #EF4444
- Green: #10B981
 */
:root {
  /* Colors ------------------------ */
  --white: #ffffff;
  --black: #000000;
  --gray: #6b7280;
  --gray-light: #e5e7eb;
  --gray-dark: #374151;
  --blue: #3b82f6;
  --red: #ef4444;
  --green: #10b981;

  /* Font sizes -------------------- */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fs-6xl: 4rem;

  /* Font weights --------------------*/
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Spacing ------------------------ */
  --s-1: 0.25rem;
  --s-2: 0.5rem;
  --s-3: 0.75rem;
  --s-4: 1rem;
  --s-5: 1.25rem;
  --s-6: 1.5rem;
  --s-7: 1.75rem;
  --s-8: 2rem;
  --s-9: 2.25rem;
  --s-10: 2.5rem;

  /* Border radius ------------------ */
  --br-sm: 0.125rem;
  --br-md: 0.25rem;
  --br-lg: 0.5rem;
  --br-xl: 0.75rem;
  --br-2xl: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rightContent {
  display: flex;
  flex-direction: column;
  gap: var(--s-3);
}

.nameContainer {
  font-size: var(--fs-3xl);
  font-weight: var(--fw-medium);
}

.desContainer {
  color: var(--gray);
  font-size: var(--fs-sm);
}
