@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global styles */
* {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

/*
- App background color: #E5E7EB
- Logo/Cart/Buttons Blue: #3B82F6
- Plus/minus quantity button: #FF7300
- Red cart quantity / Delete button: #EF4444
- Green: #10B981
 */
:root {
  /* Colors ------------------------ */
  --white: #ffffff;
  --black: #000000;
  --gray: #6b7280;
  --gray-light: #e5e7eb;
  --gray-dark: #374151;
  --blue: #3b82f6;
  --red: #ef4444;
  --green: #10b981;

  /* Font sizes -------------------- */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 4rem;

  /* Font weights --------------------*/
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
